
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /bds_ctx/
RewriteRule ^index\.php$ - [L]
RewriteRule ^backend/?$ /bds_ctx/wp-login.php [QSA,L]
RewriteRule ^backend/register/?$ /bds_ctx/wp-login.php?action=register [QSA,L]
RewriteRule ^backend/lostpassword/?$ /bds_ctx/wp-login.php?action=lostpassword [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /bds_ctx/index.php [L]
</IfModule>

# END WordPress